<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="row">

    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='1'></app-robot-parameter>
    </div>

    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='2'></app-robot-parameter>
    </div>

    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='3'></app-robot-parameter>
    </div>

    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='4'></app-robot-parameter>
    </div>

  </div>

  <div class="row">

    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='5'></app-robot-parameter>
    </div>
  
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='6'></app-robot-parameter>
    </div>
  
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='7'></app-robot-parameter>
    </div>
  
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='8'></app-robot-parameter>
    </div>
  
  </div>

  <div class="row">

    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='9'></app-robot-parameter>
    </div>
  
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='10'></app-robot-parameter>
    </div>
  
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='11'></app-robot-parameter>
    </div>
  
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='12'></app-robot-parameter>
    </div>
  
  </div>
    
  <div class="row">
  
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='13'></app-robot-parameter>
    </div>
    
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='14'></app-robot-parameter>
    </div>
    
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='15'></app-robot-parameter>
    </div>
    
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='16'></app-robot-parameter>
    </div>
    
  </div>

  <div class="row">

    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='17'></app-robot-parameter>
    </div>
    
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='18'></app-robot-parameter>
    </div>
    
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='19'></app-robot-parameter>
    </div>
    
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='20'></app-robot-parameter>
    </div>
    
  </div>
      
  <div class="row">
    
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='21'></app-robot-parameter>
    </div>
      
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]=22></app-robot-parameter>
    </div>
      
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='23'></app-robot-parameter>
    </div>
      
    <div class="col border border-info m-1">
      <app-robot-parameter [robotID]='24'></app-robot-parameter>
    </div>
      
  </div>

</div>
  
  
  <!-- <app-line-sensor></app-line-sensor> -->

<router-outlet></router-outlet>
